__pycache__/comparison.cpython-37.pyc
__pycache__/dijkstra.cpython-37.pyc
__pycache__/graph.cpython-37.pyc
__pycache__/greedy.cpython-37.pyc
__pycache__/recoverygreedy.cpython-37.pyc
__pycache__/reposition.cpython-37.pyc
__pycache__/waiting.cpython-37.pyc
